body {
margin:0;
padding:0;
background-color: #eee;
font-family: Times,sans-serif;
font-size: 100%;
width:100%;
line-height: 150%;
}
#BodyContainer {
position: relative;
max-width: 90%;
min-width: 10%;
}
#SubjHeading{
margin-left: 15%;
margin-right: -15%;
margin-top: 0%;
margin-bottom:3%;
border-style: none;
padding-top: 3%;
padding-left: 0px;
padding-right: 0px;
background-color: #eee;
font-size: 250%;
font-weight: normal;
text-align: center;
line-height: 125%;
}
#MenuBox {
position: absolute;
margin-left: 1%;
margin-right: 80%;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
border-bottom-width: 1px;
border-style: none;
border-color: #B8B8B8;
padding-top: 0px;
font-size: 110%;
line-height: 200%;
}
#ContentBox {
position: relative;
margin-top: -3%;
margin-left: 20%;
margin-right: -10%;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
border-bottom-width: 1px;
border-style: solid;
border-color: #B8B8B8;
padding-top: 0px;
padding-left: 10px;
padding-right: 0px;
background-color: white;
}
#ContentHeader {
text-align: left;
}
#Footer {
text-align: left;
}
h1 {
border-style: none;
color: black;
text-align: center;
margin-top: 0px;
line-height: 150%;
}
h2 {
color: black;
margin-bottom: 0px;
}
h3 {
color: black;
text-align: center;
margin-bottom: 0px;
}
p {
margin-top: 2px;
font-size: 110%;
font-weight: normal;
margin-bottom: 6px;
}
li {
font-style: italic;
font-size: 110%;
font-weight: bold;
line-height: 1.5;
}
li.unbold{
font-style: normal;
font-size: 110%;
font-weight: normal;
line-height: 1.5;
}
img.Fullcentered {
margin: 20px;
max-width: 100%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
border:none;
}
img.logo {
float: left;
max-width: 13%;
margin-left: 3%;
height: auto;
border: none;
}
a:link {
text-decoration: none;
}
a:active{
color: red;
}
a {
color: #0000ff;
}
a img {
border: none;
outline:none;
}
a:hover {
cursor:pointer;
}
a.dwnlink:visited {
color: red;
}
.Figs {
cursor: zoom-in;
}
.Figs img.FloatRight {
float: right;
margin: 20px;
max-width: 50%;
height: auto;
display: block;
border:none;
}
.Figs img.Half {
margin: 20px;
max-width: 50%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
border:none;
}
code {
    font-weight: bold;
}
